.signup-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.signup-form-div{
    margin: 5px;
}
.signup-form-div-input{
    border: none;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, .8);
    padding: 10px 20px;
    transition: 0.65s ease;
    font-size: 18px;
}
.signup-form-div-input:hover, .signup-form-div-input:focus{
    border-bottom: 1px solid rgba(0, 60, 255, 0.6);
    outline: none;
}

.signup-form-div-button{
    margin-top: 30px;
    padding: 10px 30px;
    border: none;
    background-color: rgba(0, 60, 255, 0.6);
    color: white;
    border-radius: 100px;
    transition: 0.65s ease;
}
.signup-form-div-button:hover,.signup-form-div-button:focus{
    background-color: rgba(0, 60, 255, 0.9);
    outline: none;
}
